/* GitHub Theme */
.prettyprint {
  background: #fff;
  font-family: Menlo, 'Bitstream Vera Sans Mono', 'DejaVu Sans Mono', Monaco, Consolas, monospace;
  font-size: 1.2rem;
  padding: 2.5rem 3rem;
  -webkit-font-smoothing: antialiased; 
}

.pln {
  color: #333333;
}

@media screen {
  .str {
    color: #dd1144;
  }

  .kwd {
    color: #333333;
  }

  .com {
    color: #999988;
  }

  .typ {
    color: #445588;
  }

  .lit {
    color: #445588;
  }

  .pun {
    color: #333333;
  }

  .opn {
    color: #333333;
  }

  .clo {
    color: #333333;
  }

  .tag {
    color: navy;
  }

  .atn {
    color: teal;
  }

  .atv {
    color: #dd1144;
  }

  .dec {
    color: #333333;
  }

  .var {
    color: teal;
  }

  .fun {
    color: #990000;
  }
}
@media print, projection {
  .str {
    color: #006600;
  }

  .kwd {
    color: #006;
    font-weight: bold;
  }

  .com {
    color: #600;
    font-style: italic;
  }

  .typ {
    color: #404;
    font-weight: bold;
  }

  .lit {
    color: #004444;
  }

  .pun, .opn, .clo {
    color: #444400;
  }

  .tag {
    color: #006;
    font-weight: bold;
  }

  .atn {
    color: #440044;
  }

  .atv {
    color: #006600;
  }
}
/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
}

/* IE indents via margin-left */
li.L0,
li.L1,
li.L2,
li.L3,
li.L4,
li.L5,
li.L6,
li.L7,
li.L8,
li.L9 {
  /* */
}

/* Alternate shading for lines */
li.L1,
li.L3,
li.L5,
li.L7,
li.L9 {
  /* */
}

/* My additional styles */

/*li.L0, li.L1, li.L2, li.L3,
li.L5, li.L6, li.L7, li.L8
{ list-style-type: decimal !important }*/

.prettyprint li {
  margin-bottom: .3rem;
}
/* ----------------------------- */
.container {
  max-width: 800px; }
.header {
  text-align: center; }
.value-prop {
  margin-top: 1rem; }
.value-props {
  margin-top: 4rem;
  margin-bottom: 4rem; }
.docs-header {
  text-transform: uppercase;
  font-size: 1.4rem;
  letter-spacing: .2rem;
  font-weight: 600; }
.docs-section {
  border-top: 1px solid #eee;
  padding: 4rem 0;
  margin-bottom: 0;}
.value-img {
  display: block;
  text-align: center;
  margin: 2.5rem auto 0; }
.example-grid .column,
.example-grid .columns {
  background: #EEE;
  text-align: center;
  border-radius: 4px;
  font-size: 1rem;
  text-transform: uppercase;
  height: 30px;
  line-height: 30px;
  margin-bottom: .75rem;
  font-weight: 600;
  letter-spacing: .1rem; }
.docs-example .row,
.docs-example.row,
.docs-example form {
  margin-bottom: 0; }
.docs-example h1,
.docs-example h2,
.docs-example h3,
.docs-example h4,
.docs-example h5,
.docs-example h6 {
  margin-bottom: 1rem; }
.heading-font-size {
  font-size: 1.2rem;
  color: #999;
  letter-spacing: normal; }
.code-example {
  margin-top: 1.5rem;
  margin-bottom: 0; }
.code-example-body {
  white-space: pre;
  word-wrap: break-word }
.example {
  position: relative; 
  margin-top: 4rem; }
.example-header {
  font-weight: 600;
  margin-top: 1.5rem;
  margin-bottom: .5rem; }
.example-description {
  margin-bottom: 1.5rem; }
.example-screenshot-wrapper {
  display: block;
  position: relative;
  overflow: hidden;
  border-radius: 6px;
  border: 1px solid #eee;
  height: 250px; }
.example-screenshot {
  width: 100%;
  height: auto; }
.example-screenshot.coming-soon {
  width: auto;
  position: absolute;
  background: #eee;
  top: 5px;
  right: 5px;
  bottom: 5px;
  left: 5px; }
  
.navbar {
  display: none; }

/* Larger than phone */
@media (min-width: 550px) {
  .value-props {
    margin-top: 9rem;
    margin-bottom: 7rem; }
  .value-img {
    margin-bottom: 1rem; }
  .example-grid .column,
  .example-grid .columns {
    margin-bottom: 1.5rem; }
  .docs-section {
    padding: 6rem 0; }
  .example-send-yourself-copy {
    float: right;
    margin-top: 12px; }
  .example-screenshot-wrapper {
    position: absolute;
    width: 48%;
    height: 100%;
    left: 0;
    max-height: none; }
}

/* Larger than tablet */
@media (min-width: 750px) {
  /* Navbar */
  .navbar + .docs-section {
    border-top-width: 0; }
  .navbar,
  .navbar-spacer {
    display: block;
    width: 100%;
    height: 6.5rem;
    background: #fff;
    z-index: 99;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee; }
  .navbar-spacer {
    display: none; }
  .navbar > .container {
    width: 100%; }

  .has-docked-nav .navbar {
    position: fixed;
    top: 0;
    left: 0; }
  .has-docked-nav .navbar-spacer {
    display: block; }
  /* Re-overiding the width 100% declaration to match size of % based container */
  .has-docked-nav .navbar > .container {
    width: 80%; }
/* ------------------------ *//* ------------------------ *//* ------------------------ *//* ------------------------ */
/* ------------------------ *//* ------------------------ *//* ------------------------ *//* ------------------------ */
#subMenusContainer .active a span {color:#FFF!important;}
#menusus ul li {
    border-right: 1px solid #FFFFFF;
    color: #CCCCCC;
    display: inline-block;
    font-family: TrajanPro;
    line-height: 16px;
    list-style: none outside none;
    padding: 0 10px;
    text-transform: uppercase;
}
.icemegamenu .active a span {color:#FFF!important;}
.icemegamenu {position:relative;}
@font-face {font-family: TrajanPro;
src: url('/TrajanPro-Regular.otf'),
     url('/TrajanPro-Regular.ttf');  
}
#menusus {
    background: url("../../pics/menubar.jpg") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    float: left;
    height: 67px;
    margin: 0;
    width: 1140px;
}

.icesubMenu .sub_level_2{
	left:-15px !important;
	top: 50px!important
}
}
/* ------------------------ *//* ------------------------ *//* ------------------------ *//* ------------------------ */
.slicknav_menu {
	display:none;
}

@media screen and (max-width: 750px) {
	
  
	.js #icemegamenu {
		display:none;
	}
	
	.js .slicknav_menu {
		display:block;
		background:#3a4150;
	}
	.slicknav_btn{
		background-color: #ff5b42;
	}
	.js .slicknav_menu li.active,.js .slicknav_menu a:hover{
	background:#ff5b42;color:#FFF;border-top-left-radius: 5px;
	transition: all 0.3s linear 0s;
	}
}
#head_grad_down {
	height:440px;
	/* Permalink - use to edit and share this gradient: colorzilla.com/gradient-editor/#f1da36+0,fcf18a+12,f9f5ca+26,fcfcfc+50,f9f5ca+66,fcf18a+86,f1da36+100 */
	background: #f1da36; /* Old browsers */
background: -moz-linear-gradient(top, #f1da36 0%, #fcf18a 12%, #f9f5ca 26%, #fcfcfc 50%, #f9f5ca 66%, #fcf18a 86%, #f1da36 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #f1da36 0%,#fcf18a 12%,#f9f5ca 26%,#fcfcfc 50%,#f9f5ca 66%,#fcf18a 86%,#f1da36 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #f1da36 0%,#fcf18a 12%,#f9f5ca 26%,#fcfcfc 50%,#f9f5ca 66%,#fcf18a 86%,#f1da36 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1da36', endColorstr='#f1da36',GradientType=0 ); /* IE6-9 */	
}
#logo{
	height:25%;
	padding-bottom:50px;
}
/* Thumbnails */
#thumbnails{
		
	margin: 0 auto;
}

.thumb-box {
  padding: 1.4em 0 1em;
  margin-left: -1%;
width: 102%;}
 .thumb-box .thumbs {
 overflow: auto;
 list-style:none;}
  .thumb-box .thumbs li {
      float: left;
      width: 22%;
      text-align: center;
  padding: 0 1%;}
     .thumb-box .thumbs li img {
        width: 100%;
        opacity: .8;
        @include transition(opacity .32s);
	 border-bottom: 4px solid transparent;}
       .thumb-box .thumbs li img:active {
          border-color: $bc-rk-blue;
          opacity: 1;
        }
      .thumb-box .thumbs li img:hover {
        
          opacity: 1;
          @include transition(opacity .2s);
	  }