@font-face{font-family:'Arhaic_rom';src:url('../fonts/Arhaic_rom.ttf') format('truetype');font-weight:normal;font-style:normal;}
.prettyprint{background:#fff;font-family:Menlo, 'Bitstream Vera Sans Mono', 'DejaVu Sans Mono', Monaco, Consolas, monospace;font-size:1.2rem;padding:2.5rem 3rem;-webkit-font-smoothing:antialiased;}
.pln{color:#333333;}
@media screen{.str{color:#dd1144;}
.kwd{color:#333333;}
.com{color:#999988;}
.typ{color:#445588;}
.lit{color:#445588;}
.pun{color:#333333;}
.opn{color:#333333;}
.clo{color:#333333;}
.tag{color:navy;}
.atn{color:teal;}
.atv{color:#dd1144;}
.dec{color:#333333;}
.var{color:teal;}
.fun{color:#990000;}
}
@media print, projection{.str{color:#006600;}
.kwd{color:#006;font-weight:bold;}
.com{color:#600;font-style:italic;}
.typ{color:#404;font-weight:bold;}
.lit{color:#004444;}
.pun, .opn, .clo{color:#444400;}
.tag{color:#006;font-weight:bold;}
.atn{color:#440044;}
.atv{color:#006600;}
}
ol.linenums{margin-top:0;margin-bottom:0;}
li.L0,
li.L1,
li.L2,
li.L3,
li.L4,
li.L5,
li.L6,
li.L7,
li.L8,
li.L9{}
li.L1,
li.L3,
li.L5,
li.L7,
li.L9{}
.prettyprint li{margin-bottom:.3rem;}
.container{max-width:800px;}
.header{text-align:center;}
.value-prop{margin-top:1rem;}
.value-props{margin-top:4rem;margin-bottom:4rem;}
.docs-header{text-transform:uppercase;font-size:1.4rem;letter-spacing:.2rem;font-weight:600;}
.docs-section{border-top:1px solid #eee;padding:4rem 0;margin-bottom:0;}
.value-img{display:block;text-align:center;margin:2.5rem auto 0;}
.example-grid .column,
.example-grid .columns{background:#EEE;text-align:center;border-radius:4px;font-size:1rem;text-transform:uppercase;height:30px;line-height:30px;margin-bottom:.75rem;font-weight:600;letter-spacing:.1rem;}
.docs-example .row,
.docs-example.row,
.docs-example form{margin-bottom:0;}
.docs-example h1,
.docs-example h2,
.docs-example h3,
.docs-example h4,
.docs-example h5,
.docs-example h6{margin-bottom:1rem;}
.heading-font-size{font-size:1.2rem;color:#999;letter-spacing:normal;}
.code-example{margin-top:1.5rem;margin-bottom:0;}
.code-example-body{white-space:pre;word-wrap:break-word}
.example{position:relative;margin-top:4rem;}
.example-header{font-weight:600;margin-top:1.5rem;margin-bottom:.5rem;}
.example-description{margin-bottom:1.5rem;}
.example-screenshot-wrapper{display:block;position:relative;overflow:hidden;border-radius:6px;border:1px solid #eee;height:250px;}
.example-screenshot{width:100%;height:auto;}
.example-screenshot.coming-soon{width:auto;position:absolute;background:#eee;top:5px;right:5px;bottom:5px;left:5px;}
.navbar, .inger_st, .inger_dr, .doxowidgetrugaciuni{display:none;}
.mob-hidden{min-height:0;}
.head_grad_top .title{padding:15px;font-family:'Arhaic_rom', Arial, sans-serif;color:#e5c06f;text-shadow:0px 0px 35px black;font-size:48px;font-size:calc(1.7em + 1.3vw);}
body{font-size:calc(2em - 0.1vw);}
.has-docked-nav #navmobile{position:fixed;top:0;width:100%;z-index:99;}
#wowslider-container1{margin:0 auto !important}
@media (min-width:550px){.value-props{margin-top:9rem;margin-bottom:7rem;}
.value-img{margin-bottom:1rem;}
.example-grid .column,
.example-grid .columns{margin-bottom:1.5rem;}
.docs-section{padding:6rem 0;}
.example-send-yourself-copy{float:right;margin-top:12px;}
.example-screenshot-wrapper{position:absolute;width:48%;height:100%;left:0;max-height:none;}
#wowslider-container1{margin:19px auto 17px !important}
19px auto 17px}
@media (min-width:750px){.mob-hidden{min-height:1px;}
.inger_st, .inger_dr, .doxowidgetrugaciuni{display:block;}
.navbar + .docs-section{border-top-width:0;}
.navbar,
.navbar-spacer{display:block;width:100%;height:6.5rem;z-index:99;}
.navbar-spacer{display:none;}
.navbar > .container{width:100%;}
.has-docked-nav .navbar{position:fixed;top:0;max-width: 1197px;width:100%;}
.has-docked-nav .navbar-spacer{display:block;}
.has-docked-nav .navbar > .container{width:80%;}
#subMenusContainer .active a span{color:#FFF!important;}
#menusus ul li{border-right:1px solid #FFFFFF;color:#CCCCCC;display:inline-block;line-height:16px;list-style:none outside none;padding:0 10px;text-transform:uppercase;}
.icemegamenu .active a span{color:#FFF!important;}
.icemegamenu{position:relative;}
#menusus{background:url("../../pics/menubar.jpg") no-repeat scroll 0 0 rgba(0, 0, 0, 0);float:left;height:67px;margin:0;width:100%;max-width:1113px;}
.icesubMenu .sub_level_2{left:-15px !important;top:50px!important}
}
.slicknav_menu{display:none;}
@media screen and (max-width:750px){.js #icemegamenu{display:none;}
.js .slicknav_menu{display:block;background:#3a4150;}
.slicknav_btn{background-color:#ff5b42;}
.js .slicknav_menu li.active,.js .slicknav_menu a:hover{background:#ff5b42;color:#FFF;border-top-left-radius:5px;transition:all 0.3s linear 0s;}
}
.head_grad_top{height:440px;position:relative;background:rgba(255,255,255,1);background:-moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(57,64,81,0.8) 62%, rgba(57,64,81,1) 100%);background:-webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(62%, rgba(57,64,81,0.8)), color-stop(100%, rgba(57,64,81,1)));background:-webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(57,64,81,0.8) 62%, rgba(57,64,81,1) 100%);background:-o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(57,64,81,0.8) 62%, rgba(57,64,81,1) 100%);background:-ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(57,64,81,0.8) 62%, rgba(57,64,81,1) 100%);background:linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(57,64,81,0.8) 62%, rgba(57,64,81,1) 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#394051', GradientType=1);}
.head_grad_down{background:rgba(57,64,81,0.2);background:-moz-linear-gradient(top, rgba(57,64,81,1) 0%, rgba(57,64,81,0.4) 12%, rgba(255,255,255,0.8) 100%);background:-webkit-gradient(left top, left bottom, color-stop(0%, rgba(57,64,81,1)), color-stop(12%, rgba(57,64,81,0.18)), color-stop(100%, rgba(255,255,255,0.8)));background:-webkit-linear-gradient(top, rgba(57,64,81,1) 0%, rgba(255,255,255,0.4) 8%, rgba(255,255,255,0.8) 100%);background:-o-linear-gradient(top, rgba(57,64,81,1) 0%, rgba(57,64,81,0.6) 8%, rgba(255,255,255,0.8) 100%);background:-ms-linear-gradient(top, rgba(57,64,81,1) 0%, rgba(57,64,81,0.4) 12%, rgba(255,255,255,0.8) 100%);background:linear-gradient(to bottom, rgba(57,64,81,1) 0%, rgba(57,64,81,0.4) 12%, rgba(255,255,255,0.8) 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#394051', endColorstr='#ffffff', GradientType=0);}
.iframe-responsive{overflow:hidden;padding-bottom:56.25%;position:relative;height:0;}
.iframe-responsive iframe{left:0;top:0;height:100%;width:100%;position:absolute;}
.head_grad_left{padding:20px;height:100%;min-height:210px;max-height:577px;background:rgba(57,64,81,1);background:-moz-linear-gradient(left, rgba(57,64,81,0.7) 0%, rgba(57,64,81,1) 100%);background:-webkit-gradient(left top, right top, color-stop(0%, rgba(57,64,81,0.7)), color-stop(100%, rgba(57,64,81,1)));background:-webkit-linear-gradient(left, rgba(57,64,81,0.7) 0%, rgba(57,64,81,1) 100%);background:-o-linear-gradient(left, rgba(57,64,81,0.7) 0%, rgba(57,64,81,1) 100%);background:-ms-linear-gradient(left, rgba(57,64,81,0.7) 0%, rgba(57,64,81,1) 100%);background:linear-gradient(to right, rgba(57,64,81,0.7) 0%, rgba(57,64,81,1) 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#394051', endColorstr='#394051', GradientType=1);}
.head_grad_right{padding:1em!important;height:100%;min-height:320px;max-height:577px;background:rgba(57,64,81,1);background:-moz-linear-gradient(left, rgba(57,64,81,1) 0%, rgba(57,64,81,0.7) 100%);background:-webkit-gradient(left top, right top, color-stop(0%, rgba(57,64,81,1)), color-stop(100%, rgba(57,64,81,0.7)));background:-webkit-linear-gradient(left, rgba(57,64,81,1) 0%, rgba(57,64,81,0.7) 100%);background:-o-linear-gradient(left, rgba(57,64,81,1) 0%, rgba(57,64,81,0.7) 100%);background:-ms-linear-gradient(left, rgba(57,64,81,1) 0%, rgba(57,64,81,0.7) 100%);background:linear-gradient(to right, rgba(57,64,81,1) 0%, rgba(57,64,81,0.7) 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#394051', endColorstr='#394051', GradientType=1);}
#logo{height:37%;padding-bottom:50px;margin:0 auto 0;z-index:5;position:relative;}
.ornament_final{height:50%;width:100%;position:relative;margin:0 auto;-ms-transform:rotate(180deg);-webkit-transform:rotate(180deg);transform:rotate(180deg);}
.gradtop{margin:0px auto;width:100%;height:1200px;top:0px;position:absolute;-ms-transform:rotate(180deg);-webkit-transform:rotate(180deg);transform:rotate(180deg);}
.gradbottom{margin:0px auto;width:100%;height:800px;bottom:0px;position:absolute;}
header h1{font-family:"Oswald",Arial,sans-serif;color:white;padding-bottom:10px;display:block;font-size:calc(1.4em + 0.5vw);margin-top:10px;overflow:hidden;height:5.7rem;position:relative;}
header h1:after{content:"";background:red;position:absolute;bottom:0;left:0;height:4px;width:100px;}
.fixedbackground{background-size:100%;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;background-attachment:fixed;background-position:center;background-repeat:no-repeat;}
.adresa{color:#e5c06f;text-shadow:0px 0px 2px black;font-size:calc(0.7em + 0.55vw);text-align:center;padding:10px;}
.icoana img{margin:0 auto;width:100%;max-width:400px;text-align:center;}
.main-container{padding:10px}
.row.match-my-cols{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;flex-wrap:wrap;}
.row.match-my-cols [class*="col-"]{display:flex;flex-direction:column;}
.head_grad_left .adresa{padding-top:0;}
.main-container article{color:black;}
.main-container aside{color:black;}
.doxo-table .data-curenta{font-size:26px !important;}
.doxo-table .doxo-widget-rugaciuni .data-curenta{font-size:26px !important;text-align:right;}
.doxo-table .doxo-widget-rugaciuni .view-header{border-bottom:none;}
.doxo-table .doxo-widget-rugaciuni .view-header:after{content:"";background:red;position:absolute;bottom:0;right:0;height:4px;width:100px;}
.doxo-table .doxo-widget-rugaciuni .view-header a{font-size:3.5rem !important;text-decoration:none;text-align:right;}
.doxo-table .doxo-widget-calendar .view-header a{font-size:3.5rem !important;text-decoration:none;padding-bottom:10px;}
.doxo-table .doxo-widget-calendar .c-prefix, .doxo-widget-calendar .c-sufix{font-size:2.7rem !important;}
.doxo-table .doxo-widget-calendar .box-title-sfant a, .doxo-widget-calendar .box-title-sfant{font-size:2.2rem !important;}
.doxo-table .doxo-widget-calendar .box-sfant-desc-citat p, .doxo-widget-calendar .box-sfant-desc-citat a{font-size:2rem !important;}
.doxo-table .doxo-widget-calendar span.c-t-ev{font-size:2.5rem !important;}
.doxo-table .doxo-widget-calendar a.c-tt-ev{font-size:1.8rem !important;}
.doxo-table .doxo-widget-calendar a.c-b-ev{font-size:1.8rem !important;line-height:2.2rem;}
.doxo-table .doxo-widget-rugaciuni .view-content{text-align:right;}
.doxo-table .doxo-widget-rugaciuni .view-content .views-field-title a{font-size:2rem !important;}
.inger_st{margin:0 auto;top:100px;position:relative;left:0px;z-index:5;}
.inger_dr{margin:0 auto;top:100px;position:absolute;right:0;z-index:5;-moz-transform:scaleX(-1);-o-transform:scaleX(-1);-webkit-transform:scaleX(-1);transform:scaleX(-1);filter:FlipH;-ms-filter:"FlipH";}
.adresa a, .adresa address a{color:inherit !important;text-decoration:none !important;font-size:inherit !important;font-family:inherit !important;font-weight:inherit !important;line-height:inherit !important;}