@font-face{font-family:'Arhaic_rom';src:url('../fonts/Arhaic_rom.ttf') format('truetype');font-weight:normal;font-style:normal;}
.container{max-width:800px;}
.header{text-align:center;}
.value-img{display:block;text-align:center;margin:2.5rem auto 0;}
.navbar, .inger_st, .inger_dr, .doxowidgetrugaciuni{display:none;}
.mob-hidden{min-height:0;}
.head_grad_top .title{padding:15px;font-family:'Arhaic_rom', Arial, sans-serif;color:#e5c06f;text-shadow:0px 0px 35px black;font-size:48px;font-size:calc(1.7em + 1.3vw);}
body{font-size:calc(2em - 0.1vw);}
.has-docked-nav #navmobile{position:fixed;top:0;width:100%;z-index:99;}
#wowslider-container1{margin:0 auto !important}
.adresa{font-size:16px;}
.icoana img{margin:0 auto;width:100%;width:165px;text-align:center;}
.slicknav_menu{display:none;}
.head_grad_left{z-index: 9999;min-height: 210px;}
.bus{width: 100%;margin: 0 auto;padding: 20px;}
.bus img{width: 100%;}
@media screen and (min-width:990px){.mob-hidden{min-height:1px;}
.inger_st, .inger_dr, .doxowidgetrugaciuni{display:block;}
.inger_st, .inger_dr{height: calc(5.8em + 9vw);}
.value-props{margin-top:9rem;margin-bottom:7rem;}
.value-img{margin-bottom:1rem;}
#wowslider-container1{margin:19px auto 17px !important}
.icoana img{margin:0 auto;width:100%;max-width:16vw;text-align:center;}
.has-docked-nav #navmobile{position:fixed;top:0;max-width:58vw;width:100%;}
.egale {overflow: hidden; }
.colegale {margin-bottom: -99999px;
    padding-bottom: 99999px;}
}
@media screen and (min-width:1220px){.adresa {font-size: calc(0.3em + 0.9vw);}
.navbar + .docs-section{border-top-width:0;}
.navbar, .navbar-spacer{display:block;width:100%;height:6.5rem;z-index:99;}
.navbar-spacer{display:none;}
.navbar > .container{width:100%;}
.has-docked-nav .navbar{position:fixed;top:0;max-width:58vw;width:100%;}
.has-docked-nav .navbar-spacer{display:block;}
.has-docked-nav .navbar > .container{width:80%;}
#subMenusContainer .active a span{color:#FFF!important;}
#menusus ul li{border-right:1px solid #FFFFFF;color:#CCCCCC;display:inline-block;line-height:16px;list-style:none outside none;padding:0 10px;text-transform:uppercase;}
.icemegamenu .active a span{color:#FFF!important;}
.icemegamenu{position:relative;}
#menusus{background:url("../../pics/menubar.jpg") no-repeat scroll 0 0 rgba(0, 0, 0, 0);float:left;height:67px;margin:0;width:100%;max-width:1113px;}
.icesubMenu .sub_level_2{left:-15px !important;top:50px!important}
}
@media screen and (max-width:1220px){.js #icemegamenu{display:none;}
.js .slicknav_item{text-decoration:none;}
.js .slicknav_menu{display:block;background:#3a4150;}
.slicknav_btn{background-color:#ff5b42;}
.js .slicknav_menu li.active.slicknav_closed,.js .slicknav_menu a:hover{background:#ff5b42;color:#FFF;border-top-left-radius:5px;transition:all 0.3s linear 0s;}
}
.js .slicknav_menu li.active.slicknav_open a.slicknav_row,.js .slicknav_menu li.active.slicknav_open li.active.iceMenuLiLevel_2{background:#ff5b42;color:#FFF;border-top-left-radius:5px;transition:all 0.3s linear 0s;}
.head_grad_top{height:440px;position:relative;background:rgba(255,255,255,1);background:-moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(57,64,81,0.8) 62%, rgba(57,64,81,1) 100%);background:-webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(62%, rgba(57,64,81,0.8)), color-stop(100%, rgba(57,64,81,1)));background:-webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(57,64,81,0.8) 62%, rgba(57,64,81,1) 100%);background:-o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(57,64,81,0.8) 62%, rgba(57,64,81,1) 100%);background:-ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(57,64,81,0.8) 62%, rgba(57,64,81,1) 100%);background:linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(57,64,81,0.8) 62%, rgba(57,64,81,1) 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#394051', GradientType=1);}
.head_grad_down{background:rgba(57,64,81,0.3);background:-moz-linear-gradient(top, rgba(57,64,81,1) 0%, rgba(57,64,81,0.6) 6%, rgba(57,64,81,0.3) 100%);background:-webkit-gradient(left top, left bottom, color-stop(0%, rgba(57,64,81,1)), color-stop(6%, rgba(57,64,81,0.6)), color-stop(100%, rgba(57,64,81,0.3)));background:-webkit-linear-gradient(top, rgba(57,64,81,1) 0%, rgba(57,64,81,0.6) 6%, rgba(57,64,81,0.3) 100%);background:-o-linear-gradient(top, rgba(57,64,81,1) 0%, rgba(57,64,81,0.6) 6%, rgba(57,64,81,0.3) 100%);background:-ms-linear-gradient(top, rgba(57,64,81,1) 0%, rgba(57,64,81,0.6) 6%, rgba(57,64,81,0.3) 100%);background:linear-gradient(to bottom, rgba(57,64,81,1) 0%, rgba(57,64,81,0.6) 6%, rgba(57,64,81,0.3) 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#394051', endColorstr='#394051', GradientType=0);}
.iframe-responsive{overflow:hidden;padding-bottom:56.25%;position:relative;height:0;width:80%;margin:0 auto;}
.iframe-responsive iframe{left:0;top:0;height:100%;width:100%;position:absolute;}
.head_grad_left{z-index: auto;padding-top:20px; padding-left:20px;padding-right:20px;background:rgba(57,64,81,1);background:-moz-linear-gradient(left, rgba(57,64,81,0.7) 0%, rgba(57,64,81,1) 100%);background:-webkit-gradient(left top, right top, color-stop(0%, rgba(57,64,81,0.7)), color-stop(100%, rgba(57,64,81,1)));background:-webkit-linear-gradient(left, rgba(57,64,81,0.7) 0%, rgba(57,64,81,1) 100%);background:-o-linear-gradient(left, rgba(57,64,81,0.7) 0%, rgba(57,64,81,1) 100%);background:-ms-linear-gradient(left, rgba(57,64,81,0.7) 0%, rgba(57,64,81,1) 100%);background:linear-gradient(to right, rgba(57,64,81,0.7) 0%, rgba(57,64,81,1) 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#394051', endColorstr='#394051', GradientType=1);}
.head_grad_right{background:rgba(57,64,81,1);background:-moz-linear-gradient(left, rgba(57,64,81,1) 0%, rgba(57,64,81,0.7) 100%);background:-webkit-gradient(left top, right top, color-stop(0%, rgba(57,64,81,1)), color-stop(100%, rgba(57,64,81,0.7)));background:-webkit-linear-gradient(left, rgba(57,64,81,1) 0%, rgba(57,64,81,0.7) 100%);background:-o-linear-gradient(left, rgba(57,64,81,1) 0%, rgba(57,64,81,0.7) 100%);background:-ms-linear-gradient(left, rgba(57,64,81,1) 0%, rgba(57,64,81,0.7) 100%);background:linear-gradient(to right, rgba(57,64,81,1) 0%, rgba(57,64,81,0.7) 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#394051', endColorstr='#394051', GradientType=1);}
#logo{height:37%;padding-bottom:50px;margin:0 auto 0;z-index:5;position:relative;}
.ornament_final{height:50%;width:100%;position:relative;margin:0 auto;-ms-transform:rotate(180deg);-webkit-transform:rotate(180deg);transform:rotate(180deg);}
.gradtop{margin:0px auto;width:100%;height:1200px;top:0px;position:absolute;-ms-transform:rotate(180deg);-webkit-transform:rotate(180deg);transform:rotate(180deg);}
.gradbottom{margin:0px auto;width:100%;height:800px;bottom:0px;position:absolute;}
header h1{font-family:"Oswald",Arial,sans-serif;color:white;padding-bottom:10px;display:block;font-size:calc(1.4em + 0.5vw);margin-top:10px;overflow:hidden;height:5.7rem;position:relative;}
header h1:after{content:"";background:red;position:absolute;bottom:0;left:0;height:4px;width:100px;}
.fixedbackground{background-size:100%;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;background-attachment:fixed;background-position:center;background-repeat:no-repeat;}
.adresa{color:#e5c06f;text-shadow:0px 0px 2px black;text-align:center;padding:1em;}

.main-container{padding:10px}
.row.match-my-cols{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;flex-wrap:wrap;}
.row.match-my-cols [class*="col-"]{display:flex;flex-direction:column;}
.head_grad_left .adresa{padding-top:0;}
.main-container article{color:black;}
.main-container aside{color:black;}
.doxo-table .data-curenta{font-size:26px !important;}
.doxo-table .doxo-widget-rugaciuni .data-curenta{font-size:26px !important;text-align:right;}
.doxo-table .doxo-widget-rugaciuni .view-header{border-bottom:none;}
.doxo-table .doxo-widget-rugaciuni .view-header:after{content:"";background:red;position:absolute;bottom:0;right:0;height:4px;width:100px;}
.doxo-table .doxo-widget-rugaciuni .view-header a{font-size:3.5rem !important;text-decoration:none;text-align:right;}
.doxo-table .doxo-widget-calendar .view-header a{font-size:3.5rem !important;text-decoration:none;padding-bottom:10px;}
.doxo-table .doxo-widget-calendar .c-prefix, .doxo-widget-calendar .c-sufix{font-size:2.7rem !important;}
.doxo-table .doxo-widget-calendar .box-title-sfant a, .doxo-widget-calendar .box-title-sfant{font-size:2.2rem !important;}
.doxo-table .doxo-widget-calendar .box-sfant-desc-citat p, .doxo-widget-calendar .box-sfant-desc-citat a{font-size:2rem !important;}
.doxo-table .doxo-widget-calendar span.c-t-ev{font-size:2.5rem !important;}
.doxo-table .doxo-widget-calendar a.c-tt-ev{font-size:1.8rem !important;}
.doxo-table .doxo-widget-calendar a.c-b-ev{font-size:1.8rem !important;line-height:2.2rem;}
.doxo-table .doxo-widget-rugaciuni .view-content{text-align:right;}
.doxo-table .doxo-widget-rugaciuni .view-content .views-field-title a{font-size:2rem !important;}
.inger_st{margin:0 auto;top:100px;position:relative;left:0px;z-index:5;}
.inger_dr{margin:0 auto;top:100px;position:absolute;right:0;z-index:5;-moz-transform:scaleX(-1);-o-transform:scaleX(-1);-webkit-transform:scaleX(-1);transform:scaleX(-1);filter:FlipH;-ms-filter:"FlipH";}
.adresa a, .adresa address a{color:inherit !important;text-decoration:none !important;font-size:inherit !important;font-family:inherit !important;font-weight:inherit !important;line-height:inherit !important;}