<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Acasă</a></li>
				<li><a href="/utile">Utile</a></li>
		        	<li><a href="/despre">Despre</a></li>
	        		<li><a href="/blog">Blog</a></li>
	        		<li><a href="/proiecte">Proiecte</a></li>
				<li><a href="/albume">Albume</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:preotlilianmantaluta@yahoo.fr">email Preot Paroh Lilian Măntăluță</a></li>
	        		<li><a href="https://github.com/antimivireanul/">github.com/antimivireanul</a></li>
				</ul>
			</footer>
		</body>
	</html>
